*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 3%;
}

.card1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}

.card2{
    display: flex;
    justify-content: space-between;
}

/*Configuração de responsividade*/
@media screen and (max-width: 260px){
    .card1, .card2{
        flex-direction: column;
    }

    .container{
        display: grid;
        justify-items: center;
    }
}